* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: gray;
}

.mouse-position {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    color: white;
    font-size: 2rem;
}

.x, .y {
    padding: 10px;
}

.y {
    margin-left: 1rem;
}

#canvas1 {
    background: radial-gradient(rgb(126, 115, 115), black);
    border: 3px solid red;
}

#canvas2 {
    background: black;
    border: 3px solid green;
}